*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

.dashboard{
    display: grid;
    grid-template-columns: 100px 1fr;
    min-height: 100vh;
}

.sidebar{
    background: #111;
    padding: 20px;
    color: white;
}

.sidebar h2{
    margin-bottom: 20px;
}

.sidebar nav a{
    color:white;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

.main{
    padding:20px;
}
.topbar{
    padding:15px;
    margin-bottom: 20px;
    background: white;
    border-radius: 8px;
}
.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap:20px;
}
.card{
    background: white;
    padding:40px;
    border-radius:8px;
    text-align: center;
}

@media (max-width:760px){
    .dashboard{
        grid-template-columns: 1fr;
    }

    .sidebar{
        text-align: center;
    }
}